#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.balls {
  display: flex;
  justify-content: space-between;
  margin: 60px;
}

.ball-content {
  border: 1px solid transparent;
  width: 700px;
  height: 400px;
  background: rgba(144, 255, 8, 0.37);
  border-radius: 12px;
  box-shadow: 2px 2px 2px 4px rgba(101, 124, 105, 0.73);
}

.numberBtn {
  margin: 70px 0 0 0;
  border: 2px solid green;
}

.numberBtn:hover {
  border: 2px solid transparent;
  box-shadow: 2px 2px 2px 1px rgba(91, 115, 97, 0.73);
}
